# COGS 108 - EDA Checkpoint

# Names

- Ant Man
- Hulk
- Iron Man
- Thor
- Wasp

<a id='research_question'></a>
# Research Question

*Fill in your research question here*

# Setup

In [1]:
## YOUR CODE HERE

# Data Cleaning

Describe your data cleaning steps here.

In [1]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION
import pandas as pd
import numpy as np
collision = pd.read_csv('pd_collisions_datasd_v1.csv')
collision

/Users/yangkaiyuan/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,report_id,date_time,police_beat,address_no_primary,address_pd_primary,address_road_primary,address_sfx_primary,address_pd_intersecting,address_name_intersecting,address_sfx_intersecting,violation_section,violation_type,charge_desc,injured,killed,hit_run_lvl
0,500098,2015-01-01 00:01:00,725,6000,,VISTA SAN ISIDRO,,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,MISDEMEANOR
1,500002,2015-01-01 00:01:00,627,3700,,VERMONT,STREET,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,MISDEMEANOR
2,500436,2015-01-01 01:35:00,712,100,E,SAN YSIDRO,BOULEVARD,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,1,0,NaN
3,500166,2015-01-01 02:00:00,438,2600,,RACHEL,,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
4,500429,2015-01-01 02:30:00,813,4600,,30TH,STREET,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,1,0,MISDEMEANOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60456,21200749,2021-02-08 12:50:00,725,1200,,EXPOSITION,WAY,,,,21703,VC,FOLLOWING TOO CLOSELY (I),1,0,NaN
60457,21200759,2021-02-08 13:21:44,524,1300,,01ST,AVENUE,,,,21955,VC,JAYWALKING (I),1,0,NaN
60458,21200755,2021-02-08 15:10:00,611,0,,CHAUNCEY,STREET,,CUSHING,ROAD,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,NaN
60459,21200758,2021-02-08 17:34:00,124,1300,,TORREY PINES,ROAD,,,,21453A,VC,SIGNAL LIGHTS:CIRCULAR RED (I),1,0,MISDEMEANOR
60460,21200761,2021-02-08 17:45:29,122,0,,INGRAHAM,STREET,,MOORLAND,DRIVE,22107,VC,TURNS:UNSAFE TURN AND/OR NO TURN SIGNAL (I),0,0,MISDEMEANOR

In [2]:
streetlight = pd.read_csv('streetlight_locations_datasd_v1.csv')
temp = streetlight.dropna()
streetlight = temp.drop(columns = ['sap_id','streetlight_wattage','streetlight_voltage'])
streetlight

,streetlight_model,streetlight_type,lng,lat,location_description
0,COBRA,IND,-117.252424,32.864282,LA JOLLA SHORES DR @ RUETTE MONTE CARLO N/E
1,COBRA,IND,-117.250892,32.872267,LA JOLLA SHORES LN N/O LA JOLLA SHORES DR @ CDS
2,COBRA,IND,-117.246841,32.881493,BROOKMEAD LN E/O BLACK GOLD RD @ CDS
3,COBRA,IND,-117.248476,32.885452,BLACK GOLD RD E/O LA JOLLA FARMS RD 200' N/S
4,COBRA,IND,-117.247382,32.885273,BLACK GOLD RD E/O LA JOLLA FARMS RD 680' S/S
...,...,...,...,...,...
54706,COBRA,IND,-117.120433,32.763269,34TH ST @ ADAMS AV SE
54709,COBRA,IND,-117.120791,32.763430,34TH ST @ ADAMS AV NW
54710,COBRA,IND,-117.120586,32.763474,34TH ST @ ADAMS AV NE
54711,COBRA,IND,-117.120727,32.763240,34TH ST @ ADAMS AV SW
54723,COBRA,IND,-117.149651,32.749430,BLAINE AV @ NORMAL ST SE

# Data Analysis & Results (EDA)

Carry out EDA on your dataset(s); Describe in this section

In [3]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION